@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;

    font-family: 'ABeeZee', sans-serif;
}


nav{
    background: #fff;
}

ul{
    list-style-type: none;
}

a{
    color: #6823F7;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.menu{
  margin: 0;
  padding: 0;
}
.menu li{
    font-size: 16px;
    padding: 15px 5px;
}
.meni li a{
    display: block;
}
.logo a{
    font-size: 20px;
}
.button.sevundary{
    border-bottom: 1px #6823F7 solid;
}

/* Mobile Menu*/

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.toggle{
    order: 1;
}
.item.button{
    order: 2;
}

.item{
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}

.item.active{
    display: block;
}

.toggle{
    cursor: pointer;
}

.bars{
    background: #581dcc;
    display: inline-block;
    height: 2px;
    position: relative;
    width: 18px;
}

.bars::before,.bars::after{
    background: #581dcc;
    content: "";
    display: inline-block;
    height: 2px;
    position: absolute;
    width: 18px;   
}

.bars:before{
    top:5px
}
.bars:after{
    top:-5px
}

.cor button{
    border: none;
    background-color: #581dcc;
}

  /* Mobile */
  
  @media all and (max-width:468px){
    
    .slider{
      height: 70vh;
    }
  
    .slide img{
      height: 100%;
    }
  
    .navagation-auto{
      margin-top: 385px;
    }
  
    .navagation-manual{
      margin-top: -115px;
    }
  
    .criar-cursos{
      width: 100%;
    }
  }
  
  /* tablet */
  
  @media all and (min-width:468px){
      .menu{
          justify-content: center;
      }
  
      .logo{
          flex: 1;
      }
  
      .item.button{
          width: auto;
          order: 1;
          display: block;
      }
  
      .toggle{
          order: 2;
      }
  
      .button.secondary{
          border: 0;
      }
  
      .button a {
          text-decoration: none;
          padding: 7px 15px;
          background: #fff;
          border: 1px solid #581dcc;
          border-radius: 10px;
      }
  
      .button.secondary a{
          background: transparent;
      }
  
      .button a:hover{
          transition: all .5s;
      }
  
      .button a:hover{
          background: #6823F7;
          color: #fff;
      }
  
      .main{
        height: 80vh;
      }
      
      .main h1{
          padding-top: 6rem;
          line-height: 30px;
          font-size: 25px;
      }
  
      .card{
        width: 10rem;
      }
  
  }
  
  /* Desktop */
  
  @media all and (min-width:768px){
      .item{
          display: block;
          width: auto;
      }
      .toggle{
          display: none;
      }
      .logo{
          order:0;
      }
      .item{
          order: 1;
      }
      .button{
          order: 2;
      }
      .menu li{
          padding: 15px 10px;
      }
      .menu li.button{
          padding-right: 0;
      }
  
      .main h1{
          padding-top: 10rem;
          line-height: 30px;
          font-size: 35px;
      }
      
      .card{
        width: 30%;
      }
  
  }
  
  /* Desktop - 2 */
  
  @media all and (min-width:1214px){
      .main h1{
          padding-top: 15rem;
          line-height: 35px;
          font-size: 40px;
      }
  }
  
  @media all and (min-width:600px){
      .cards-cursos li{
          display: flex;
          padding-left: 0%;    
      } 
      .cur{
            border: 3px solid #000;
            padding: 20px 30px;
            text-align: center;
            margin-top: 40px;
            margin-bottom: 30px;
            margin-right: 50px;
            margin-left: 50px;
      }
  }

h1{
  color: #581dcc;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
p{
  display: flex;
  justify-content: center;
  padding: 20px 150px 10px 150px;
}
h2{
  padding-left: 150px;
  padding-top: 20px;
  padding-bottom: 10px;
}
h3{
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.img1{
  padding-left: 28%;
  padding-right: 28%;
}

@media (max-width: 1000px){
  .img1{
    padding-left: 20%;
    padding-right: 20%;
  }
}
@media (max-width: 800px){
  .img1{
    padding-left: 15%;
    padding-right: 15%;
  }
}
@media (max-width: 730px){
  .img1{
    padding-left: 12%;
    padding-right: 12%;
  }
}
@media (max-width: 660px){
  .img1{
    max-width: 600px;
    padding-left: 30%;
    padding-right: 30%;
  }
}
@media (max-width: 470px){
  .img1{
    visibility: hidden;
  }

}
@media (max-width: 550px){
  h3{
    padding-left: 30px;
  }
}
@media (max-width: 400px){
  h2{
    padding-left: 25%;
  }

}

  /* .mid{
    display: flex;
    justify-content: center;
  }
  main{
        margin: 25px;
        padding: 20px 20px;
        max-width: 80%;
  }

  h1{
    display: flex;
    justify-content: center;
    padding: 10px;
    padding-bottom: 25px;
  }
  p{
    padding-bottom: 25px;
  }
  h3{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 10px;
  }
  .p1{
    font-size: 20px;
  }

  img{
    display: block;
    padding-left: 20%;
  } */
  
  .footer{
    border-top: 2px solid grey;
    display: flex;
    justify-content: space-between;
  }
  
  .column{
    padding: 2rem;
  }
  
  .column h3{
    font-size: 20px;
  }
  
  .column h4{
    padding-top: 1rem;
  } 
  
  .contato{
   left: 2rem;
  }
  
  .introducao{
    background-color: #581dcc;
    color: #fff;
    margin-top: 1.5rem;
    padding: 2rem;
  }
  
  .introducao p{
    margin-top: 10px;
  }

  .back{
    background-color: #581dcc;
  }

  .total{
    margin: 3rem;
    background-color: #fff;
  }
