@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
body{
    font-family: 'ABeeZee', sans-serif;
}
.linha{
    display: flex;
    flex-direction: row;
}
.topo{
    margin-top: 21px;
    color: #6823F7;
    margin-left: 20px;
}
.ptop1{
    margin-left: 100px;
}
.ptop2{
    margin-left: 30px;
}
.pesquisa{
    margin-left: 200px;
    color: #6823F7;
    border-width: 5px;
    border-style: solid;
    border-color: #6823F7;
}