<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <h1>Cadastrar</h1>
    <form action="" method="POST" class="form-control">
        <input type="text" name="nome" id="" class="form-control" placeholder="Nome">
        <input type="email" name="email" id="" class="form-control" placeholder="email">
        <input type="password" name="senha" id="senha" class="form-control" placeholder="Senha">
        <input type="password" name="senha2" id="senha2" class="form-control" placeholder="Redigite a senha">
        <input type="submit" value="Registro" class="btn btn-info">
    </form>
    <a href="/login"class="btn btn-info botao">Entrar</a>
    <script src="js/comparar.js"></script>
</body>
</html>