<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home</title>
</head>
<body>
    <a href="/login"class="btn btn-info botao">Entrar</a>
    <a href="/cadastro"class="btn btn-info botao">Cadastrar</a>
    <p class="teste">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam, eum qui harum illo eius laudantium dolorem quibusdam, ea incidunt nulla obcaecati autem nisi molestiae modi, magni illum cum dolorum iusto?</p>
    <img src="images/teste.jpg" alt="" srcset="">
</body>
</html>