<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CursoNexus</title>
    <!-- CSS only -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css%22%3E">
    <link rel="icon" href="/images/Logo-removebg-preview.png">
    <link rel="stylesheet" href="/assets/css/categorias.css">
    <script>

        $(function(){
            $(".toggle").on("click", function(){

                if($(".item").hasClass("active")){
                    $(".item").removeClass("active");
                }
                else{
                    $(".item").addClass("active");
                }
            })
        })

    </script>

</head>
<body>
    <div class="container">

       <nav>
            <ul class="menu">
                <li class="logo"><a href="#"><img class="logo" src="/images/Group.svg" alt=""></a></li>
                <li class="item"><a href="#">Início</a></li>
                <li class="item"><a href="#">Nossos Cursos</a></li>
                <li class="item"><a href="#">Curssos da Comunidade</a></li>
                <li class="item button"><a href="#">Login</a></li>
                <li class="item button secondary"><a href="#">Sing Up</a></li>
                <li  class="toggle"><span class="bars"></span></li>
            </ul>
       </nav>

       <div class="curso">
        <div class="titulo">
            <h3>Curso:</h2>
            <h4>Programação</h4>
            <div class="curso-img">
                <img src="/images/Logo-removebg-preview.png" alt="">
            </div>
        </div>

        <div class="curso-main">
            <img src="/images/LogoInteiro.png" alt="">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati dolore veritatis sequi eaque accusamus fugit cupiditate temporibus officiis accusantium fuga fugiat provident architecto, omnis aut tenetur laborum. Tempora, repellendus minima?</p>
        </div>

       </div>
</body>
</html>